
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.container {
  width: 500px;
  height: 180px;
  border: solid 1px #00C6D6;
  overflow:hidden;
}

p {
  height: 80px;
  margin: 15px 15px;
}

h1 {
  color: white;
  background: #00C6D6;
  height: 45px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: lighter;
  font: arial;
  padding-top: 10px;
  padding-left: 15px;
}

// height or max-height
// overflow asjsa


.section {
  height: 46px;
  overflow: hidden;
}

.open {
 height: 147px;
 transition: .75s;

}
