
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.container {
  width: 500px;
  height: 330px;
  border: solid 1px #00C6D6;
  overflow:hidden;
}

p {
  height: auto;
  margin: 15px 15px;
}

h1 {
  color: white;
  background: #00C6D6;
  height: 10px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: lighter;
  font: arial;
  padding-top: 10px;
}

// height or max-height
// overflow


.section {
  height: 0px;
  overflow: hidden;
}

.open {
 max-height: 100px;
}
