* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.container {
  width: 500px;
  height: 330px;
  border: solid 1px #00C6D6; }

p {
  height: 80px;
  margin: 15px 15px; }

h1 {
  color: white;
  background: #00C6D6;
  height: 45px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: lighter;
  font: arial;
  padding-top: 10px; }

.board {
  width: 80%; }

.board div {
  height: 130px;
  width: 150px;
  display: inline-block;
  border: 3px double black;
  transition: background 0.5s ease-in-out; }

.section1 {
  height: 100px;
  overflow: hidden; }

.section2 {
  height: 100px;
  overflow: hidden; }

.section3 {
  height: 100px;
  overflow: hidden; }

.open {
  height: 100px; }

.close {
  overflow: hidden;
  height: 45px; }
